* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: white; */
}

.mainNav {
  display: block;
  position: relative;
  padding: 15px 10px 10px 10px;
  width: 100%;
  background-color: #cc3300;
  /* color: #262626; */
  color: white;
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.2);
  z-index: 900;
}

.mainNav li {
  display: inline;
  position: relative;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.mainNav li:hover {
  background-color: #262626;
  color: white;
}

.homeScreen {
  display: block;
  position: relative;
  /* background-color: red; */
  height: 600px;
}

.homeBtn {
  color: white;
}

.projectsScreen {
  display: block;
  position: relative;
  /* background-color: blue; */
  height: 600px;
  border-radius: 12px;
}

.latestScreen {
  display: block;
  position: relative;
  /* background-color: green; */
  height: 600px;
}

.contactScreen {
  display: block;
  position: relative;
  /* background-color: yellow; */
  height: 600px;
}

.welcomeText {
  display: block;
  position: relative;
  top: 200px;
  width: 400px;
  margin-left: 50%;
  left: -200px;
  text-align: center;
}

.withCarousel {
  display: block;
  position: relative;
  top: 200px;
  width: 600px;
  margin-left: 50%;
  left: -300px;
  text-align: center;
}

.welcomeText h1 {
  font-size: 55px;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: #cc3300;
}

.welcomeText h2 {
  font-size: 50px;
  margin-top: -150px;
  margin-bottom: 30px;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: #cc3300;
}

.welcomeText h3 {
  font-size: 50px;]
  font-weight: bold;
}

.carousel-caption {
  font-family: arial;
}

.welcomeText p {
  font-size: 15px;
}

.personalArrow {
  display: block;
  position: absolute;
  top: 50%;
  font-weight: bold;
  left: 5vw;
  z-index: 900;
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #cc3300;
  border-radius: 50px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);
}

.latestArrow {
  display: block;
  position: absolute;
  top: 51%;
  font-weight: bold;
  left: 85vw;
  z-index: 900;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 50px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);
  color: white;
  background-color: #cc3300;
}

.contactArrow {
  display: block;
  position: absolute;
  top: 90%;
  font-weight: bold;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  text-align: center;
  z-index: 900;
  cursor: pointer;
  padding: 10px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 50px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);
  color: white;
  background-color: #cc3300;
}
